@charset "utf-8";

.front{
	color: red;
}

#end{
	font-weight: bold;
}

a:link {color: deepskyblue;}

a:visited {color:red;}

a:active {color: yellowgreen;}

a:hover {color: rgba(255,0,0,0,0.1);}

a:focus {background color: #f0f0f0;}

.input:focus {background color: #f0f0f0;};


.front{
	border-color:#E82C0C;
	border-style: solid;
	border-width: 1px;
}

#end{
	background-color: rgba(0,100,0,1); 
}