@charset "utf-8";

strong {
	color:blue;
}

.front{
	color:red;
}
#end{
	font-weight: bold;
}

a:link{
	color:deepskyblue;
}


a:visited{
	color:#7233EB;
}

a:hover{
	color:red;
	opacity:90;
}

a:active{
	color:#E5D74E;
}